{
    "rules": {
        "import/no-extraneous-dependencies": ["off"],
        "prefer-arrow-callback": ["off"],
        "no-undef": ["off"],
        "no-unused-expressions": ["off"],
        "max-len": ["error", { "code": 110 }],
        "quote-props": ["off"]
    }
}